# =========================

# Flutter / Dart

# =========================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# =========================

# Environment Variables

# =========================

.env
.env.*
*.env

# =========================

# VS Code

# =========================

.vscode/

# =========================

# IntelliJ / Android Studio

# =========================

.idea/
*.iml
*.ipr
*.iws

# =========================

# macOS

# =========================

.DS_Store

# =========================

# Logs

# =========================

*.log
*.tmp

# =========================

# Python

# =========================

*.pyc

# =========================

# Flutter Generated

# =========================

**/doc/api/
**/ios/Flutter/.last_build_id

# =========================

# Android Build Outputs

# =========================

android/app/debug
android/app/profile
android/app/release

# =========================

# iOS

# =========================

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# =========================

# Firebase

# =========================

google-services.json
GoogleService-Info.plist
firebase_options.dart

# =========================

# Hive

# =========================

*.hive

# =========================

# Obfuscation

# =========================

app.*.symbols
app.*.map.json

# =========================

# Misc

# =========================

*.class
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
